interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:ser=\"http://serviciosjava.afip.gob.ar/wsltv/\">\n<soapenv:Header/>\n<soapenv:Body>\n
      \   \n</soapenv:Body>\n</soapenv:Envelope>"
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - '"http://serviciosjava.afip.gob.ar/wsltv/dummy"'
    method: POST
    uri: https://fwshomo.afip.gov.ar/wsltv/LtvService
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns2:DummyResp
        xmlns:ns2="http://serviciosjava.afip.gob.ar/wsltv/"><respuesta><appserver>OK</appserver><authserver>OK</authserver><dbserver>OK</dbserver></respuesta></ns2:DummyResp></S:Body></S:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
