[WSAA]
CERT=reingart.crt
PRIVATEKEY=reingart.key
##URL=https://wsaa.afip.gov.ar/ws/services/LoginCms

[WSFE]
CUIT=20267565393
ENTRADA=entrada.txt
SALIDA=salida.txt
##URL=https://servicios1.afip.gov.ar/wsfe/service.asmx

[WSBFE]
CUIT=20267565393
ENTRADA=entrada.txt
SALIDA=salida.txt
##URL=https://servicios1.afip.gov.ar/wsfe/service.asmx

[WSFEX]
CUIT=20267565393
ENTRADA=entrada.txt
SALIDA=salida.txt
##URL=https://servicios1.afip.gov.ar/wsfe/service.asmx

[FACTURA]
ARCHIVO=tipo,letra,numero
FORMATO=factura.csv
DIRECTORIO=.

[PDF]
LOGO=serpiente.png
EMPRESA=Empresa de Prueba
MEMBRETE1=Direccion de Prueba
MEMBRETE2=Capital Federal
CUIT=CUIT 20-26756539-3
IIBB=IIBB 20-26756539-3
IVA=IVA Responsable Inscripto
INICIO=Inicio de Actividad: 01/04/2006

[MAIL]
SERVIDOR=adan.nsis.com.ar
USUARIO=no.responder@nsis.com.ar
CLAVE=noreplyauto123
MOTIVO=Factura Electronica Nro. NUMERO
CUERPO=Se adjunta Factura en formato PDF
REMITENTE=Facturador PyAfipWs <pyafipws@nsis.com.ar>

[BASE_DATOS]
DRIVER=PGSQL
SERVER=localhost
DATABASE=pyafipws
UID=pyafipws
PWD=pyafipws
