interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wsaahomo.afip.gov.ar/ws/services/LoginCms?wsdl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions targetNamespace=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\"
        xmlns:apachesoap=\"http://xml.apache.org/xml-soap\" xmlns:impl=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\"
        xmlns:intf=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\" xmlns:tns1=\"http://wsaa.view.sua.dvadac.desein.afip.gov\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:wsdlsoap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n<!--WSDL created by Apache
        Axis version: 1.4\nBuilt on Apr 22, 2006 (06:55:48 PDT)-->\n <wsdl:types>\n
        \ <schema elementFormDefault=\"qualified\" targetNamespace=\"http://wsaa.view.sua.dvadac.desein.afip.gov\"
        xmlns=\"http://www.w3.org/2001/XMLSchema\">\n   <import namespace=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\"/>\n
        \  <element name=\"loginCms\">\n    <complexType>\n     <sequence>\n      <element
        name=\"in0\" type=\"xsd:string\"/>\n     </sequence>\n    </complexType>\n
        \  </element>\n   <element name=\"loginCmsResponse\">\n    <complexType>\n
        \    <sequence>\n      <element name=\"loginCmsReturn\" type=\"xsd:string\"/>\n
        \    </sequence>\n    </complexType>\n   </element>\n  </schema>\n  <schema
        elementFormDefault=\"qualified\" targetNamespace=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\"
        xmlns=\"http://www.w3.org/2001/XMLSchema\">\n   <complexType name=\"LoginFault\">\n
        \   <sequence/>\n   </complexType>\n   <element name=\"fault\" type=\"impl:LoginFault\"/>\n
        \ </schema>\n </wsdl:types>\n\n   <wsdl:message name=\"loginCmsRequest\">\n\n
        \     <wsdl:part element=\"tns1:loginCms\" name=\"parameters\">\n\n      </wsdl:part>\n\n
        \  </wsdl:message>\n\n   <wsdl:message name=\"LoginFault\">\n\n      <wsdl:part
        element=\"impl:fault\" name=\"fault\">\n\n      </wsdl:part>\n\n   </wsdl:message>\n\n
        \  <wsdl:message name=\"loginCmsResponse\">\n\n      <wsdl:part element=\"tns1:loginCmsResponse\"
        name=\"parameters\">\n\n      </wsdl:part>\n\n   </wsdl:message>\n\n   <wsdl:portType
        name=\"LoginCMS\">\n\n      <wsdl:operation name=\"loginCms\">\n\n         <wsdl:input
        message=\"impl:loginCmsRequest\" name=\"loginCmsRequest\">\n\n       </wsdl:input>\n\n
        \        <wsdl:output message=\"impl:loginCmsResponse\" name=\"loginCmsResponse\">\n\n
        \      </wsdl:output>\n\n         <wsdl:fault message=\"impl:LoginFault\"
        name=\"LoginFault\">\n\n       </wsdl:fault>\n\n      </wsdl:operation>\n\n
        \  </wsdl:portType>\n\n   <wsdl:binding name=\"LoginCmsSoapBinding\" type=\"impl:LoginCMS\">\n\n
        \     <wsdlsoap:binding style=\"document\" transport=\"http://schemas.xmlsoap.org/soap/http\"/>\n\n
        \     <wsdl:operation name=\"loginCms\">\n\n         <wsdlsoap:operation soapAction=\"\"/>\n\n
        \        <wsdl:input name=\"loginCmsRequest\">\n\n            <wsdlsoap:body
        use=\"literal\"/>\n\n         </wsdl:input>\n\n         <wsdl:output name=\"loginCmsResponse\">\n\n
        \           <wsdlsoap:body use=\"literal\"/>\n\n         </wsdl:output>\n\n
        \        <wsdl:fault name=\"LoginFault\">\n\n            <wsdlsoap:fault name=\"LoginFault\"
        use=\"literal\"/>\n\n         </wsdl:fault>\n\n      </wsdl:operation>\n\n
        \  </wsdl:binding>\n\n   <wsdl:service name=\"LoginCMSService\">\n\n      <wsdl:port
        binding=\"impl:LoginCmsSoapBinding\" name=\"LoginCms\">\n\n         <wsdlsoap:address
        location=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\"/>\n\n      </wsdl:port>\n\n
        \  </wsdl:service>\n\n</wsdl:definitions>\n"
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:ser=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\">\n<soapenv:Header/>\n<soapenv:Body>\n
      \   <ser:loginCms>\n    <in0>MIIHBgYJKoZIhvcNAQcCoIIG9zCCBvMCAQExDzANBglghkgBZQMEAgEFADCCASoG\nCSqGSIb3DQEHAaCCARsEggEXPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0i\nVVRGLTgiPz48bG9naW5UaWNrZXRSZXF1ZXN0IHZlcnNpb249IjEuMCI+PGhlYWRl\ncj48dW5pcXVlSWQ+MTYyNDE5NDIyNDwvdW5pcXVlSWQ+PGdlbmVyYXRpb25UaW1l\nPjIwMjEtMDYtMjBUMTM6MzM6NDQ8L2dlbmVyYXRpb25UaW1lPjxleHBpcmF0aW9u\nVGltZT4yMDIxLTA2LTIwVDIzOjMzOjQ0PC9leHBpcmF0aW9uVGltZT48L2hlYWRl\ncj48c2VydmljZT53c19zcl9wYWRyb25fYTU8L3NlcnZpY2U+PC9sb2dpblRpY2tl\ndFJlcXVlc3Q+oIIDUzCCA08wggI3oAMCAQICCB[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://awshomo.afip.gov.ar/sr-padron/webservices/personaServiceA5?wsdl
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name=\"PersonaServiceA5\"
        targetNamespace=\"http://a5.soap.ws.server.puc.sr/\" xmlns:ns1=\"http://schemas.xmlsoap.org/soap/http\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tns=\"http://a5.soap.ws.server.puc.sr/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n
        \ <wsdl:types>\n<xs:schema attributeFormDefault=\"unqualified\" elementFormDefault=\"unqualified\"
        targetNamespace=\"http://a5.soap.ws.server.puc.sr/\" xmlns:tns=\"http://a5.soap.ws.server.puc.sr/\"
        xmlns:xs=\"http://www.w3.org/2001/XMLSchema\">\n  <xs:element name=\"dummy\"
        type=\"tns:dummy\"/>\n  <xs:element name=\"dummyResponse\" type=\"tns:dummyResponse\"/>\n
        \ <xs:element name=\"getPersona\" type=\"tns:getPersona\"/>\n  <xs:element
        name=\"getPersonaList\" type=\"tns:getPersonaList\"/>\n  <xs:element name=\"getPersonaListResponse\"
        type=\"tns:getPersonaListResponse\"/>\n  <xs:element name=\"getPersonaList_v2\"
        type=\"tns:getPersonaList_v2\"/>\n  <xs:element name=\"getPersonaList_v2Response\"
        type=\"tns:getPersonaList_v2Response\"/>\n  <xs:element name=\"getPersonaResponse\"
        type=\"tns:getPersonaResponse\"/>\n  <xs:element name=\"getPersona_v2\" type=\"tns:getPersona_v2\"/>\n
        \ <xs:element name=\"getPersona_v2Response\" type=\"tns:getPersona_v2Response\"/>\n
        \ <xs:complexType name=\"getPersona\">\n    <xs:sequence>\n      <xs:element
        name=\"token\" type=\"xs:string\"/>\n      <xs:element name=\"sign\" type=\"xs:string\"/>\n
        \     <xs:element name=\"cuitRepresentada\" type=\"xs:long\"/>\n      <xs:element
        name=\"idPersona\" type=\"xs:long\"/>\n    </xs:sequence>\n  </xs:complexType>\n
        \ <xs:complexType name=\"getPersonaResponse\">\n    <xs:sequence>\n      <xs:element
        minOccurs=\"0\" name=\"personaReturn\" type=\"tns:personaReturn\"/>\n    </xs:sequence>\n
        \ [...]
