interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:ser=\"http://ar.gob.afip.wsremcarne/RemCarneService/\">\n<soapenv:Header/>\n<soapenv:Body>\n
      \   \n</soapenv:Body>\n</soapenv:Envelope>"
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - '"http://ar.gob.afip.wsremcarne/RemCarneService/dummy"'
    method: POST
    uri: https://fwshomo.afip.gov.ar/wsremcarne/RemCarneService
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\"><S:Header><info
        xmlns=\"https://ar.gob.afip.wsremcarne/RemCarneService/\"><ambiente>Testing
        - VII - Versi\xF3n BETA sujeta a modificaciones</ambiente><fecha>2021-06-20
        14:00:45</fecha></info></S:Header><S:Body><ns2:dummyResponse xmlns:ns2=\"http://ar.gob.afip.wsremcarne/RemCarneService/\"><dummyReturn><appserver>OK</appserver><authserver>OK</authserver><dbserver>OK</dbserver></dummyReturn></ns2:dummyResponse></S:Body></S:Envelope>"
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
