interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:ser=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\">\n<soapenv:Header/>\n<soapenv:Body>\n
      \   <ser:loginCms>\n    <in0>MIIHAQYJKoZIhvcNAQcCoIIG8jCCBu4CAQExDzANBglghkgBZQMEAgEFADCCASUG\nCSqGSIb3DQEHAaCCARYEggESPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0i\nVVRGLTgiPz48bG9naW5UaWNrZXRSZXF1ZXN0IHZlcnNpb249IjEuMCI+PGhlYWRl\ncj48dW5pcXVlSWQ+MTYyNDE4ODYzNTwvdW5pcXVlSWQ+PGdlbmVyYXRpb25UaW1l\nPjIwMjEtMDYtMjBUMTI6MDA6MzU8L2dlbmVyYXRpb25UaW1lPjxleHBpcmF0aW9u\nVGltZT4yMDIxLTA2LTIwVDIyOjAwOjM1PC9leHBpcmF0aW9uVGltZT48L2hlYWRl\ncj48c2VydmljZT53c3JlbWNhcm5lPC9zZXJ2aWNlPjwvbG9naW5UaWNrZXRSZXF1\nZXN0PqCCA1MwggNPMIICN6ADAgECAggcmtC7Nm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fwshomo.afip.gov.ar/wsremcarne/RemCarneService?wsdl
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tns=\"http://ar.gob.afip.wsremcarne/RemCarneService/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" name=\"RemCarneService\" targetNamespace=\"http://ar.gob.afip.wsremcarne/RemCarneService/\">\n
        \ <wsdl:types>\n    <xsd:schema targetNamespace=\"http://ar.gob.afip.wsremcarne/RemCarneService/\">\n\n
        \     <xsd:element name=\"dummyResponse\" type=\"tns:DummyResponseType\"/>\n
        \     \n      <xsd:complexType name=\"DummyResponseType\">\n        <xsd:sequence>\n
        \         <xsd:element name=\"dummyReturn\" type=\"tns:DummyReturnType\" maxOccurs=\"1\"
        minOccurs=\"1\">\n          </xsd:element>\n        </xsd:sequence>\n      </xsd:complexType>\n
        \     \n      <xsd:complexType name=\"DummyReturnType\">\n        <xsd:sequence>\n
        \         <xsd:element name=\"appserver\" type=\"xsd:string\" maxOccurs=\"1\"
        minOccurs=\"1\"/>\n          <xsd:element name=\"authserver\" type=\"xsd:string\"
        maxOccurs=\"1\" minOccurs=\"1\"/>\n          <xsd:element name=\"dbserver\"
        type=\"xsd:string\" maxOccurs=\"1\" minOccurs=\"1\"/>\n        </xsd:sequence>\n
        \     </xsd:complexType>\n      \n      <xsd:complexType name=\"AuthRequestType\">\n
        \       <xsd:sequence>\n          <xsd:element name=\"token\" type=\"xsd:string\"
        maxOccurs=\"1\" minOccurs=\"1\"/>\n          <xsd:element name=\"sign\" type=\"xsd:string\"
        maxOccurs=\"1\" minOccurs=\"1\"/>\n          <xsd:element name=\"cuitRepresentada\"
        type=\"tns:CuitSimpleType\" maxOccurs=\"1\" minOccurs=\"1\">\n          </xsd:element>\n
        \       </xsd:sequence>\n      </xsd:complexType>\n      \n      <xsd:simpleType
        name=\"CuitSimpleType\">\n      \t<xsd:restriction base=\"xsd:long\">\n      \t\t<xsd:minExclusive
        value=\"9999999999\"/>\n      \t\t<xsd:maxInclusive value=\"99999999999\"/>\n
        \     \t</xsd:restriction>\n      </xsd:simpleType>\n\n      <xsd:complexType
        name=\"ArrayCodigosDescripcionesType\">\n        <xsd:sequence>\n          <xsd:element
        name=\"codigoDescripcion\" type=\"tns:CodigoDescripcionType\" maxOccurs=\"unbounded\"
        minOccurs=\"1\"/>\n        </xsd:sequence>\n      </xsd:complexType>\n      \n
        \     <xsd:complexType name=\"ArrayCodigosDescripcionesStringType\">\n        <xsd:sequence>\n
        [...]
