interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:ser=\"http://impl.service.wsmtxca.afip.gov.ar/service/\">\n<soapenv:Header/>\n<soapenv:Body>\n
      \   \n</soapenv:Body>\n</soapenv:Envelope>"
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - '"http://impl.service.wsmtxca.afip.gov.ar/service/dummy"'
    method: POST
    uri: https://fwshomo.afip.gov.ar/wsmtxca/services/MTXCAService
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:dummyResponse
        xmlns:ns1="http://impl.service.wsmtxca.afip.gov.ar/service/"><appserver>OK</appserver><authserver>OK</authserver><dbserver>OK</dbserver></ns1:dummyResponse></soapenv:Body></soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
