interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
      xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n<soap:Header/>\n<soap:Body>\n
      \   \n</soap:Body>\n</soap:Envelope>"
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - '"http://servicios1.afip.gob.ar/wscdc/ComprobanteDummy"'
    method: POST
    uri: https://wswhomo.afip.gov.ar/WSCDC/service.asmx
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Header><FEHeaderInfo
        xmlns="http://servicios1.afip.gob.ar/wscdc/"><ambiente>HomologacionExterno
        - efa</ambiente><fecha>2021-07-22T18:48:13.6756748-03:00</fecha><id>2.0.2.0</id></FEHeaderInfo></soap:Header><soap:Body><ComprobanteDummyResponse
        xmlns="http://servicios1.afip.gob.ar/wscdc/"><ComprobanteDummyResult><AppServer>OK</AppServer><DbServer>OK</DbServer><AuthServer>OK</AuthServer></ComprobanteDummyResult></ComprobanteDummyResponse></soap:Body></soap:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      MicrosoftOfficeWebServer:
      - 5.0_Pub
    status:
      code: 200
      message: OK
version: 1
