interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wswhomo.afip.gov.ar/wsbfev1/service.asmx?WSDL
  response:
    body:
      string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://ar.gov.afip.dif.bfev1/\" xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        targetNamespace=\"http://ar.gov.afip.dif.bfev1/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n
        \ <wsdl:documentation xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">Web
        Service orientado  al  servicio  de Bonos Fiscales electronicos v1.1</wsdl:documentation>\r\n
        \ <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://ar.gov.afip.dif.bfev1/\">\r\n
        \     <s:element name=\"BFEAuthorize\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"Auth\" type=\"tns:ClsBFEAuthRequest\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"Cmp\"
        type=\"tns:ClsBFERequest\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:complexType name=\"ClsBFEAuthRequest\">\r\n
        \       <s:sequence>\r\n          <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Token\" type=\"s:string\"[...]
