interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:ser=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\">\n<soapenv:Header/>\n<soapenv:Body>\n
      \   <ser:loginCms>\n    <in0>MIIG+wYJKoZIhvcNAQcCoIIG7DCCBugCAQExDzANBglghkgBZQMEAgEFADCCAR8G\nCSqGSIb3DQEHAaCCARAEggEMPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0i\nVVRGLTgiPz48bG9naW5UaWNrZXRSZXF1ZXN0IHZlcnNpb249IjEuMCI+PGhlYWRl\ncj48dW5pcXVlSWQ+MTYyNDE4NzY3NzwvdW5pcXVlSWQ+PGdlbmVyYXRpb25UaW1l\nPjIwMjEtMDYtMjBUMTE6NDQ6Mzc8L2dlbmVyYXRpb25UaW1lPjxleHBpcmF0aW9u\nVGltZT4yMDIxLTA2LTIwVDIxOjQ0OjM3PC9leHBpcmF0aW9uVGltZT48L2hlYWRl\ncj48c2VydmljZT53c2N0PC9zZXJ2aWNlPjwvbG9naW5UaWNrZXRSZXF1ZXN0PqCC\nA1MwggNPMIICN6ADAgECAggcmtC7NmEf6DANBg[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fwshomo.afip.gov.ar/wsct/CTService?wsdl
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tns=\"http://ar.gob.afip.wsct/CTService/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" name=\"CTService\" targetNamespace=\"http://ar.gob.afip.wsct/CTService/\">\n\t<wsdl:types>\n\t\t<xsd:schema
        targetNamespace=\"http://ar.gob.afip.wsct/CTService/\">\n      \t\t<xsd:element
        name=\"dummyResponse\" type=\"tns:DummyResponseType\" />\n\n\t\t\t<xsd:complexType
        name=\"DummyResponseType\">\n\t\t\t\t<xsd:sequence>\n\t\t\t\t\t<xsd:element
        name=\"dummyReturn\" type=\"tns:DummyReturnType\" maxOccurs=\"1\" minOccurs=\"1\">\n\t\t\t\t\t</xsd:element>\n\t\t\t\t</xsd:sequence>\n\t\t\t</xsd:complexType>\n\n\t\t\t<xsd:complexType
        name=\"DummyReturnType\">\n\t\t\t\t<xsd:sequence>\n\t\t\t\t\t<xsd:element
        name=\"appserver\" type=\"xsd:string\" maxOccurs=\"1\" minOccurs=\"1\" />\n\t\t\t\t\t<xsd:element
        name=\"authserver\" type=\"xsd:string\" maxOccurs=\"1\" minOccurs=\"1\" />\n\t\t\t\t\t<xsd:element
        name=\"dbserver\" type=\"xsd:string\" maxOccurs=\"1\" minOccurs=\"1\" />\n\t\t\t\t</xsd:sequence>\n\t\t\t</xsd:complexType>\n\n
        \           <xsd:complexType name=\"AuthRequestType\">\n            \t<xsd:sequence>\n
        \           \t\t<xsd:element name=\"token\" type=\"xsd:string\" maxOccurs=\"1\"
        minOccurs=\"1\" />\n            \t\t<xsd:element name=\"sign\" type=\"xsd:string\"
        maxOccurs=\"1\" minOccurs=\"1\" />\n            \t\t<xsd:element name=\"cuitRepresentada\"
        type=\"tns:CuitSimpleType\" maxOccurs=\"1\" minOccurs=\"1\" />\n            \t</xsd:sequence>\n
        \           </xsd:complexType>\n\n            <xsd:simpleType name=\"CuitSimpleType\">\n
        \           \t<xsd:restriction base=\"xsd:long\">\n            \t\t<xsd:minExclusive
        value=\"9999999999\" />\n            \t\t<xsd:maxInclusive value=\"99999999999\"
        />\n            \t</xsd:restriction>\n            </xsd:simpleType>\n\n\n
        \           <xsd:complexType name=\"ArrayCodigosDescripcionesType\">\n            \t<xsd:sequence>\n
        \           \t\t<xsd:element name=\"codigoDescripcion\" type=\"tns:CodigoDescripcionType\"
        maxOccurs=\"unbounded\" minOccurs=\"1\" />\n            \t</xsd:sequence>\n
        \           </xsd:complexType>\n\n            <xsd:complexType name=\"ArrayCodigosDescripcionesS[...]
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:ser=\"http://ar.gob.afip.wsct/CTService/\">\n<soapenv:Header/>\n<soapenv:Body>\n
      \   \n</soapenv:Body>\n</soapenv:Envelope>"
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - '"http://ar.gob.afip.wsct/CTService/dummy"'
    method: POST
    uri: https://fwshomo.afip.gov.ar/wsct/CTService
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Header><info
        xmlns="https://ar.gob.afip.wsct/CTService/"><ambiente>Testing - VII</ambiente><fecha>2021-06-20
        13:44:47</fecha></info></S:Header><S:Body><ns2:dummyResponse xmlns:ns2="http://ar.gob.afip.wsct/CTService/"><dummyReturn><appserver>OK</appserver><authserver>OK</authserver><dbserver>OK</dbserver></dummyReturn></ns2:dummyResponse></S:Body></S:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
