interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:ser=\"https://serviciosjava.afip.gob.ar/wscpe/\">\n<soapenv:Header/>\n<soapenv:Body>\n
      \   \n</soapenv:Body>\n</soapenv:Envelope>"
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - '"https://serviciosjava.afip.gob.ar/wscpe/dummy"'
    method: POST
    uri: https://fwshomo.afip.gov.ar/wscpe/services/soap
  response:
    body:
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Header><serverTime>05/11/2021
        23:01:59 GMT-03:00</serverTime><serverName>vivaldi</serverName><elapsedTime>1636164119619ms</elapsedTime><id>20211105110159639jOpMVWyuMqdnCqkwaCTathgyuzDKPRzm</id></soap:Header><soap:Body><ns2:DummyResp
        xmlns:ns2="https://serviciosjava.afip.gob.ar/wscpe/"><respuesta><appserver>Ok</appserver><authserver>Ok</authserver><dbserver>Ok</dbserver></respuesta></ns2:DummyResp></soap:Body></soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
